
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<section class="outer-wrapper">
	<div class="inner-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-sm-offset-4 pt-5">
					<h2 class="text-center">404</h2>
					<h3 class="text-center">NotFound</h3>
					<p>@TempData["info"]</p>
				</div>
			</div>
		</div>
	</div>
</section>